<div class="widget timeseries-widget">
  <div class="header">
    <span class="title" id="title"></span>
    <div class="legend" id="legend"></div>
  </div>
  <div class="graph" id="canvas-holder">
    <canvas id="canvas"></canvas>
  </div>
  <div class="controls">
    <div class="left">
      <button id="btnAdd"></button>
      <button id="btnDelete"></button>
    </div>
    <div class="right">
      <button id="btnZoomIn"></button>
      <button id="btnZoomOut"></button>
    </div>
  </div>
</div>
