.timeseries-widget {
  display: flex;
  flex-direction: column;
}

.timeseries-widget .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  font-weight: bold;
  font-size: 1.5em;
  color: #263238;
}

.header .legend {
}

.timeseries-widget .graph {
  width: 100%;
  height: 200px;

  background-color: white;
}

.timeseries-widget .graph canvas {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background-color: white;
}
